<div class="card">
    <div class="card-header text-white bg-success">
        S'enregistrer
    </div>
            <div class="card-body">
                <form novalidate (submit)="saveData(registerForm)" #registerForm ="ngForm">
                    <div class="form row">
                        <div class="col-md-6 mb-3">
                            <label >Nom :</label>
                            <input type="text" class="form-control" placeholder="Nom" [(ngModel)]="user.lastName" name="fistName"required minlength="4"
                            #lastNameVar="ngModel" 
                            [ngClass]="{'is-invalid': lastNameVar.touched && !lastNameVar.valid }">
                                        <div class="invalid-feedback">
                                            <span *ngIf="lastNameVar.errors">
                                                    Veuilez entrer votre nom
                                            </span>
                                            <span *ngIf="lastNameVar.errors">
                                                minimum 4 characteres
                                        </span>
                                        </div>
                        
                            
                        </div>
                        <div class="col-md-6 mb-3">
                                <label >Prenom :</label>
                                <input type="text" class="form-control" placeholder="prenom" [(ngModel)]="user.firstName" name = "lastName" required maxlength="20"
                                #firstNameVar="ngModel"
                                [ngClass]="{'is-invalid': firstNameVar.touched && !firstNameVar.valid }">
                                <div class="invalid-feedback">
                                                <span *ngIf="firstNameVar.errors">
                                                        Veuilez entrer votre prenom
                                                </span>
                                                <span *ngIf="firstNameVar.errors">
                                                    maximum 20 characteres
                                            </span>
                                            </div>
                            
                        </div>

                    </div>

                        <div class="form row">
                            <div class="col-md-6 mb-3">
                                <label >E-mail :</label>
                                <input type="email" class="form-control" placeholder="email" [(ngModel)]="user.email" name ="email" required email #emailVar ="ngModel"
                                [ngClass]="{'is-invalid': emailVar.touched && !emailVar.valid }">
                                <div class="invalid-feedback">
                                    <span *ngIf="emailVar.errors"> 
                                            Veuilez entrer votre email
                                    </span>
                                    <span *ngIf="emailVar.errors"> 
                                    l'mail n'est pas valide
                                </span>
                                </div>
                            </div>
                        </div>
                                    <div class="form-row mb-3">
                                        <div class="co-md-12">
                                            <div class="form-check mt-4 pt-3">
                                                <label for="sendCatalogId" class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" [(ngModel)] = "user.sendCatalog" name="sendCatalog">
                                                    Oui, je souhaite recevoir la publicité
                                                </label>
                                            </div>
                                        </div>
                                        
                                    </div>
                                           <div *ngIf="user.sendCatalog">
                                             <div class="form-row mb-3"> 
                                                <div class="col-md-12">
                                                    <label for="">Adresse 1</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                             </div>    
                                             <div class="form-row mb-3"> 
                                                <div class="col-md-12">
                                                    <label for="">Adresse 2</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                             </div>   
                                             <div class="row ">
                                                <div class="col-md-6 mb-3">
                                                    <label for="">ville</label>
                                                    <input type="" class="form-control">
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <label for="">Departement</label>
                                                    <select class="form-control">
                                                        <option value="">Selectionner un departement</option>
                                                        <option value="A">Soins Infirmier</option>
                                                        <option value="B">Aeronotique</option>
                                                        <option value="C">Kinesitherapie</option>
                                                        <option value="D">Automatisation</option>
                                                        <option value="E">Robotique</option>
                                                        <option value="F">Telecom</option>
                                                    </select>
                                                </div>
                                                <div class="col md-3 mb-3">
                                                    <label for="">Code postal</label>
                                                    <input type="number" class="form-control">
                                                </div>
                                             </div>


                                            </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-success" type="submit" [disabled] = "!registerForm.valid">
                            sauvegarder
                       </button>
                    </div>
                </form>
                
            </div>
</div>
