<div class="card">
    <div class="card-header text-white bg-success">
        S'enregistrer
    </div>
            <div class="card-body">
                <form novalidate (submit)="saveData()" [formGroup]="registerForm">
                    <div class="form row">
                        <div class="col-md-6 mb-3">
                            <label >Nom :</label>
                            <input type="text" class="form-control" placeholder="Nom" required minlength="4"
                           formControlName="lastName" 
                            [ngClass]="{'is-invalid': registerForm.get('lastName')?.touched && !registerForm.get('lastName')?.valid }">
                                        <div class="invalid-feedback">
                                            <span *ngIf="registerForm.get('lastName')?.errors"> 
                                                    Veuilez entrer votre nom
                                             </span> 
                                           <span *ngIf="registerForm.get('lastName')?.errors"> 
                                                minimum 4 characteres
                                         </span> 
                                        </div>
                        
                            
                        </div>
                        <div class="col-md-6 mb-3">
                                <label >Prenom :</label>
                                <input type="text" class="form-control" placeholder="prenom"  required maxlength="20"
                                formControlName="firstName" 
                                [ngClass]="{'is-invalid': registerForm.get('firstName')?.touched && !registerForm.get('firstName')?.valid }">
                                <div class="invalid-feedback">
                                                <span *ngIf="registerForm.get('firstName')?.errors">
                                                        Veuilez entrer votre prenom
                                                </span>
                                                <span *ngIf="registerForm.get('firstName')?.errors">
                                                    maximum 20 characteres
                                            </span>
                                            </div>
                            
                        </div>

                    </div>

                        <div class="form row">
                            <div class="col-md-6 mb-3">
                                <label >E-mail :</label>
                                <input type="email" class="form-control" placeholder="email"  required email 
                                formControlName = "email"
                                [ngClass]="{'is-invalid': registerForm.get('email')?.touched && !registerForm.get('email')?.valid }">
                                <div class="invalid-feedback">
                                    <span *ngIf="registerForm.get('email')?.errors"> 
                                            Veuilez entrer votre email
                                    </span>
                                    <span *ngIf="registerForm.get('email')?.errors"> 
                                    l'mail n'est pas valide
                                </span>
                                </div>
                            </div>
                        </div>
                                    <div class="form-row mb-3">
                                        <div class="co-md-12">
                                            <div class="form-check mt-4 pt-3">
                                                <label for="sendCatalogId" class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" formControlName = "sendCatalog">
                                                    Oui, je souhaite recevoir la publicité
                                                </label>
                                            </div>
                                        </div>
                                        
                                    </div>
                                           <!-- <div *ngIf="user.sendCatalog"> -->
                                             <div class="form-row mb-3"> 
                                                <div class="col-md-12">
                                                    <label for="">Adresse 1</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                             </div>    
                                             <div class="form-row mb-3"> 
                                                <div class="col-md-12">
                                                    <label for="">Adresse 2</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                             </div>   
                                             <div class="row ">
                                                <div class="col-md-6 mb-3">
                                                    <label for="">ville</label>
                                                    <input type="" class="form-control">
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <label for="">Departement</label>
                                                    <select class="form-control">
                                                        <option value="">Selectionner un departement</option>
                                                        <option value="A">Soins Infirmier</option>
                                                        <option value="B">Aeronotique</option>
                                                        <option value="C">Kinesitherapie</option>
                                                        <option value="D">Automatisation</option>
                                                        <option value="E">Robotique</option>
                                                        <option value="F">Telecom</option>
                                                    </select>
                                                </div>
                                                <div class="col md-3 mb-3">
                                                    <label for="">Code postal</label>
                                                    <input type="number" class="form-control">
                                                </div>
                                             </div>


                                           
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-success" type="submit" [disabled] = "!registerForm.valid">
                            sauvegarder
                       </button>
                    </div>
                </form>
                
            </div>
</div>

<hr>

<p> Dirty: {{registerForm.dirty}}</p>
<p> Pristine: {{registerForm.pristine}}</p>
<p> valid: {{registerForm.valid}}</p>
<p> Invalid: {{registerForm.invalid}}</p>
<p> Value: </p>

<pre> {{registerForm.value | json}}</pre>